### IMPORT LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

### LOAD ENERGY DATA

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Question 12
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [3]:
df = df.drop(["date","lights"],axis = 1)
from sklearn.preprocessing import  MinMaxScaler
scaler = MinMaxScaler()
cols = ["T2","T6"]
for feature in cols:
    df[feature] = scaler.fit_transform(df[[feature]])
x = df[["T2"]]
y =df[["T6"]]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 42)


from sklearn.linear_model import LinearRegression,Lasso,Ridge
lr_model = LinearRegression()
lr_model.fit(x_train,y_train)
preds = lr_model.predict(x_test)
r2 = r2_score(y_test,preds)
print("R-squared:",np.round(r2,3))

('R-squared:', 0.643)

### Question 13
Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [4]:
for feature in df.columns:
    df[feature] = scaler.fit_transform(df[[feature]])
from sklearn.model_selection import train_test_split
X = df.drop("Appliances",axis = 1)
Y = df["Appliances"]
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3,random_state = 42)
#use linear regression

from sklearn.linear_model import LinearRegression,Lasso,Ridge
lr_model = LinearRegression()
lr_model.fit(x_train,y_train)
preds = lr_model.predict(x_test)

# evaluate model
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
mean_abs = mean_absolute_error(y_test,preds)
print("Mean Absolute Error:",np.round(mean_abs,2))

C:\Users\ODION\Anaconda2\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

('Mean Absolute Error:', 0.05)

### Question 14
What is the Residual Sum of Squares (in two decimal places)?

In [5]:
rss = np.sum(np.square(y_test - preds))
print('Residual Sum of Squares: ', np.round(rss,2))

('Residual Sum of Squares: ', 45.35)

### Question 15
What is the Root Mean Squared Error (in three decimal places)?

In [6]:
rmse = mean_squared_error(y_test,preds) **0.5
print("Root Mean Squared Error:",np.round(rmse,3))

('Root Mean Squared Error:', 0.088)

### Question 16
What is the Coefficient of Determination (in two decimal places)?

In [7]:
r2_val = r2_score(y_test,preds)
print("R-squared:",np.round(r2_val,2))

('R-squared:', 0.15)

### Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [8]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_weights_df = get_weights_df(lr_model, x_train, 'Linear_weight')

linear_weights_df

       Features  Linear_weight
0          RH_2      -0.456698
1         T_out      -0.321860
2            T2      -0.236178
3            T9      -0.189941
4          RH_8      -0.157595
5        RH_out      -0.077671
6          RH_7      -0.044614
7          RH_9      -0.039800
8            T5      -0.015657
9            T1      -0.003281
10          rv2       0.000770
11          rv1       0.000770
12  Press_mm_hg       0.006839
13           T7       0.010319
14   Visibility       0.012307
15         RH_5       0.016006
16         RH_4       0.026386
17           T4       0.028981
18    Windspeed       0.029183
19         RH_6       0.038049
20         RH_3       0.096048
21           T8       0.101995
22    Tdewpoint       0.117758
23           T6       0.236425
24           T3       0.290627
25         RH_1       0.553547

#### From the statsmodel summary we have Lowest_weights = RH_2, Highest_weight = RH_1

### Question 18
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [9]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
preds = ridge_reg.predict(x_test)
rmse = mean_squared_error(y_test,preds) **0.5
print("RMSE:",np.round(rmse,3))

('RMSE:', 0.088)

#### There is NO change in RMSE value

### Question 19
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [10]:
from sklearn.linear_model import Lasso
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(x_train, y_train)


def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
lasso_weights_df = get_weights_df(lasso_model, x_train, 'Lasso_weight')


x = lasso_weights_df[lasso_weights_df['Lasso_weight'] != 0]

len(x)

4

### Question 20
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [11]:
from sklearn.linear_model import Ridge
lasso_model = Lasso()
lasso_model.fit(x_train, y_train)
preds = lasso_model.predict(x_test)
Rmse = mean_squared_error(y_test,preds) **0.5
print("RMSE:",np.round(Rmse,3))

('RMSE:', 0.095)